@{
    ViewData["Title"] = "Home Page";
}



<div class="chat">

    <div class="messages-container">
        <h2>The Wall:</h2>

    </div>


    <div class="online-users-block">
        <h3>Users online:</h3>
        <div id="online-users">

        </div>
    </div>

    <div class="send-block-parent">
        <div class="send-block">
            <div>Message:</div>
            <textarea rows="4" cols="50" id="messageInput"></textarea>
            <input type="button" class="send-input" id="sendButton" value="Post" />

        </div>
    </div>

</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>